

<div *ngIf="currentUser">
	Username: <input class="connect" [(ngModel)]="groupName"> Port: <input class="connect" [(ngModel)]="port"> <button (click)="addChatroom(groupName, port)">connect</button>

	<div>
		<ul class="nav nav-tabs">
			<li *ngFor="#chatroom of chatrooms" (click)="selectChatroom(chatroom)" [class.active]="chatroom.active">
				 <a href="#">{{chatroom.title}}</a>
			</li>
		</ul>

		<div *ngIf="selectedChatroom" class="chatroom">
			<br>
			<div class="message-window">
				<ul style="list-style-type:none">
					<li *ngFor="#message of selectedChatroom.messages">
						<div *ngIf="(message.from_username == selectedChatroom.title && message.to_username == currentUser.username) || (message.from_username == currentUser.username && message.to_username == selectedChatroom.title)">
							{{message.from_username}}: {{message.message}}
						</div>
					</li>
				</ul>
			</div> 

			<div class="input-window">
				<input class="form-control" id="focusedInput" type="text" onClick="this.select()" [(ngModel)]="message">
				<button class="disconnect" (click)="deleteChatroom()">Refresh</button>
				<button class="send" (click)="sendMessage(message)">Send</button>
			</div>
		</div>
	</div>
</div>
<div *ngIf="!currentUser">
	Username: <input class="connect" [(ngModel)]="username"> Port: <input class="connect" [(ngModel)]="port"> <button (click)="setUser(username, port)">Log In</button>
</div>